{
  "strings": {
    "help": [
      " ^cyan;/invscrambler reset^reset; - Resets all settings",
      " ^cyan;/invscrambler toggle^reset; - Toggles the entire mod",
      " ^cyan;/invscrambler hotbar^reset; - Toggles hotbar item swapping",
      " ^cyan;/invscrambler time <seconds>^reset; - Sets swapping speed",
      " ^cyan;/invscrambler delay <seconds>^reset; - Sets delay between swaps",
      " ^cyan;/invscrambler count <min> [max]^reset; - Sets amount of swaps"
    ],

    "toggle": "Inventory scrambler ^cyan;%s^reset;",
    "hotbar": "Hotbar item swapping ^cyan;%s^reset;",
    "time": "Set swapping time to ^cyan;%s^reset; seconds",
    "time_current": "Current swapping time is ^cyan;%s^reset; seconds  ^gray;(default ^darkcyan;%s^gray;)^reset;",
    "delay": "Set swap delay to ^cyan;%s^reset; seconds",
    "delay_current": "Current swap delay is ^cyan;%s^reset; seconds  ^gray;(default ^darkcyan;%s^gray;)^reset;",
    "count": "Swap count set to ^cyan;%s^reset;",
    "count_current": "Current swap count is ^cyan;%s^reset;  ^gray;(default ^darkcyan;[%s, %s]^gray;)^reset;",
    "count_range": "Swap count set to ^cyan;[%s, %s]^reset;",
    "count_range_current": "Current swap count is ^cyan;[%s, %s]^reset;  ^gray;(default ^darkcyan;[%s, %s]^gray;)^reset;",
    "reset": "Reset inventory scrambler settings",
    "enable": "enabled",
    "disable": "disabled",
    "unknown": "No such command %s",
    "expected_number": "Expected number"
  },

  "defaultSettings": {
    "disabled": false,
    "swapItems": true,
    "swapTime": 0.33,
    "minSwaps": 1,
    "maxSwaps": 3,
    "delay": 0
  }
}
